body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    min-height: 100vh;
    
}

img {
    width: 100%;
}