* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    min-height: 100vh;
}

img {
    width: 100%;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 180px;
    height: 200px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}

.radio-btn>i {
    color: #ffffff;
    background-color: #ffeba7;
    font-size: 27px;
    position: absolute;
    top: -18px;
    left: 87px;
    transform: translateX(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.1s;
    pointer-events: none;
    opacity: 0;
}

.radio-btn .ticket-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

.radio-btn .ticket-icon i {
    color: #ffeba7;
    line-height: 80px;
    font-size: 60px;
}

.radio-btn .ticket-icon h3 {
    color: #8373e6;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.custom-radio input:checked+.radio-btn {
    border: 3px solid #ffeba7;
}

.custom-radio input:checked+.radio-btn>i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    /* position: relative; */
}

.custom-radio .money {
    color: #ffeba7;
    font-size: 26px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    /* position: relative; */
}


/* .custom-radio .text {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 450;
    position: static;
} */


/* input[type="checkbox"]+.label-text:hover:before {
    color: #fe4365
} */


/* input[type="checkbox"] {
    display: none
} */